html {
  background-color: rgba(58, 62, 65, 0.952);
}
.App {
  background-color: rgba(80, 84, 87, 0.65);
}
.main-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.first-title {
  display: flex;
  height: fit-content;
  width: 100rem;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 45px;
  font-family: serif;
}
.cardsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
}

.title {
  text-align: center;
  font-size: 2rem !important;
  color: rgb(225, 224, 231);
}
.activities {
  display: flex;
  justify-content: center;
  color: aqua;
}
.list-group-flush {
  font-weight: bold;
}
